@charset "UTF-8";
/* 스타일 초기화 */
h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-size: 1rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0;
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

p, figure {
  margin: 0;
}

input, textarea, select, option, button {
  font: inherit;
}

body *, body *::before, body *::after {
  box-sizing: border-box;
}

body {
  font-family: "SUIT Variable", sans-serif;
  line-height: 1.15;
  margin: 0;
}

/* 숨김 콘텐츠 */
.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}

.header .nav-btn {
  background-color: transparent;
  border: none;
}

.header .nav-btn, .header .social-wrap__list a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  background-color: #f5f5f7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header {
  padding-left: 0.75rem;
  padding-inline-start: 0.75rem;
  padding-right: 0.75rem;
  padding-inline-end: 0.75rem;
  padding-top: 0.75rem;
  padding-block-start: 0.75rem;
  padding-bottom: 0.75rem;
  padding-block-end: 0.75rem;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header .logo a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 2.5rem;
  inline-size: 2.5rem;
  height: 2.5rem;
  block-size: 2.5rem;
}
.header .logo a img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 62.5rem;
}
.header .navigation {
  text-align: center;
  margin-left: 0;
  margin-inline-start: 0;
  margin-right: 0;
  margin-inline-end: 0;
  margin-top: 1.25rem;
  margin-block-start: 1.25rem;
  margin-bottom: 1.25rem;
  margin-block-end: 1.25rem;
}
.header .navigation .menu__list {
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
}
.header .navigation .menu__list:hover {
  background-color: rgb(225, 225, 225);
}
.header .navigation .menu__link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-inline-start: 0.75rem;
  padding-right: 0.75rem;
  padding-inline-end: 0.75rem;
  padding-top: 0.75rem;
  padding-block-start: 0.75rem;
  padding-bottom: 0.75rem;
  padding-block-end: 0.75rem;
  font-size: 0.875rem;
}
.header .more-btn {
  cursor: pointer;
  border: none;
  background-color: #248ff4;
  font-size: 0.875rem;
  font-weight: bold;
  box-shadow: 3px 4px 16px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  inline-size: 100%;
  margin-bottom: 1.5rem;
  margin-block-end: 1.5rem;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-inline-start: 0.75rem;
  padding-right: 0.75rem;
  padding-inline-end: 0.75rem;
  padding-top: 0.75rem;
  padding-block-start: 0.75rem;
  padding-bottom: 0.75rem;
  padding-block-end: 0.75rem;
}
.header .more-btn:hover {
  background-color: #0071e3;
}
.header .social-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}
.header .social-wrap__list a {
  cursor: pointer;
  border-radius: 62.5rem;
  width: 2.5rem;
  inline-size: 2.5rem;
  height: 2.5rem;
  block-size: 2.5rem;
}
.header .social-wrap__list a .icon_social_youtube {
  mask-image: url("../assets/icon/header/icon_social_youtube.svg");
  background-color: #0071e3;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.header .social-wrap__list a .icon_social_instagram {
  mask-image: url("../assets/icon/header/icon_social_instagram.svg");
  background-color: #0071e3;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header .social-wrap__list a .icon_social_facebook {
  mask-image: url("../assets/icon/header/icon_social_facebook.svg");
  background-color: #0071e3;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header .social-wrap__list a:hover {
  background-color: rgb(225, 225, 225);
}
.header .nav-btn {
  width: 40px;
  inline-size: 40px;
  height: 40px;
  block-size: 40px;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border-radius: 62.5rem;
}
.header .nav-btn .icon_nav_close {
  mask-image: url("../assets/icon/header/icon_nav_close.svg");
  background-color: #0071e3;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header .nav-btn:hover {
  background-color: rgb(225, 225, 225);
}
