@use './../utils' as *;

%button-reset {
    background-color: transparent;
    border: none;
}

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    background-color: rgba($white,1);
    @include position(absolute,0);
}

.header {
    max-width: rem(1024px);
    margin: 0 auto; // header 가운데 위치
    display: grid;
    @include padding($base-spacing);
    @include position(relative,0);
    @include laptop {
        grid-template-columns: 1fr 1fr auto;
        column-gap: rem(40px);
    }

    .logo {
        a {
            @include flexbox;
            overflow: hidden;
            @include size(rem(40px), rem(40px));
            
            img {
                @include flexbox;
                @include radius(full);
            }
        }
    }

    .navigation {
        text-align: center;
        @include marginY(rem(20px));
        @extend %center;
        @include laptop {
            @include marginY(0);
        }
        
        .menu {
            width: 100%;
            max-width: rem(732px);
            word-break: keep-all;
            display: grid;
            row-gap: rem(12px);
            @include laptop {
                grid-template-columns: repeat(4, 1fr);
                column-gap: rem(24px);
            }

            &__list {
                cursor: pointer;
                @include radius(xs);
                @include laptop {
                    @include margin(0);
                }
            }
            
            &__link {
                display: block;
                font-size: $x-small-text;
                @include padding($small-spacing);
                @include radius(xs);
                &:hover {
                    background-color: $gray-100;
                }
            }
        }
    }

    .social-wrap {
        gap: rem(14px);
        @include flexbox(null, null, center, center);
        @include laptop {
            display: none;
        }
        
        &__list a {
            cursor: pointer;
            @extend %center;
            @include radius(full);
            @include size(rem(40px), rem(40px));
            // setIcons
            @include setIcons(icon_social_youtube, rem(24px), '../assets/icon/header', $blue-300);
            @include setIcons(icon_social_instagram, 24px, '../assets/icon/header', $blue-300);
            @include setIcons(icon_social_facebook, 24px, '../assets/icon/header', $blue-300);
            &:hover {
                background-color: $gray-100;
            }
        }
    }
    
    .btn-box {
        @extend %center;
        @include laptop {
            justify-content: end;
        }
        
        &__nav-btn {
            @include size(rem(40px), rem(40px));
            @include position(absolute, $base-spacing $base-spacing null null);
            @extend %button-reset, %center;
            @include radius(full);
            @include setIcons(icon_nav_close, rem(24px), '../assets/icon/header', $blue-300);
            &:hover {
                background-color: $gray-100;
            }
            @include laptop {
                display: none;
            }
        }

        &__more-btn {
            width: 100%;
            max-width: rem(732px);
            cursor: pointer;
            border: none;
            background-color: $blue-100;
            font-size: $x-small-text;
            font-weight: bold;
            box-shadow: $box-shadow-1;
            @include margin-block-end(rem(24px));
            @include radius(xs);
            @include padding($small-spacing);
            &:hover {
                background-color: $blue-300;
            }
            @include laptop {
                width: rem(120px);
                @include margin(0);
            }
        }
    }
}